

//Colors
// -- Main Colors
$color-black: hsl(0, 0%, 13%);
$color-white: hsl(0, 0%, 100%);
$color-link-out: hsl(138, 64%, 48%);

// -- Template Colors
$color-tpl-bg: $color-white;
$color-tpl-main: hsl(187, 83%, 45%);
$color-tpl-brand: hsl(227, 56%, 19%);
$color-tpl-card: hsl(0, 0%, 98%);
$color-tpl-card-alt: hsl(188, 100%, 96%);
$color-tpl-img-border: hsl(0, 0%, 85%);